@import "../../styles/mixins.scss";

.detailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.loading {
    height: 80vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sonic {
    transform: scaleX(-1);
}