.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.label {
    color: white;
    text-shadow: 0px 0px 10px purple;
}

.input {
    font-family: inherit;
    width: 25rem;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 0.7rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.5s;
    text-align: center;
}


.input:placeholder-show~.label {
    font-size: .25rem;
    cursor: text;
    top: 20px;
}



.input:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, purple, violet);
    border-image-slice: 1;
}

.input:focus~.label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #008d18;
    font-weight: 700;
}

.input:required,
.input:invalid {
    box-shadow: none;
}

.error {
    padding-top: .5rem;
    color: red;
    font-size: .6rem;
    letter-spacing: .15rem;
    text-shadow: 1px 1px 5px black;
}