.selectFilter {
    padding: 3px 6px;
    margin: 0px 10px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectFilter:hover {
    box-shadow: 3px 6px 15px 10px rgba(24, 161, 17, 0.368);
    border: none;
    outline: none;
}


select::-ms-expand {
    display: none;
}

.selectFilter option {
    padding: 10px;
    color: white;
    background-color: rgba(31, 31, 31, 0.856);
}