* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Press Start 2P", system-ui;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.page {
    background: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}