* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;

    padding: 0;
    height: 100vh;
}