// Colors
$primary-color: #252525;
$black: #000000;
$white: #ffffff;
$second-color: #969696;

//Platforms
$color-pc: #252525;
$color-playstation: #003087;
$color-xbox: #2ca243;
$color-nintendo: #E60012;
$color-sega: #17569b;